.services {
  margin-bottom: 222px;
  background: url('../images/bg1.png') no-repeat -220px center / auto;
  --columns: 3;

  &__header {
    text-align: center;
    max-width: 952px;
    margin: 0 auto 80px;
  }

  &__dots {
    right: 0;

    top: 50%;

    transform: translate(25%, -50%);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: 34px;
    margin-bottom: 71px;
    margin-top: 27px;
    position: relative;
  }

  &__item {
    background: #ffffff;
    box-shadow: 10px 40px 50px rgb(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 54px 37px 47px;
  }

  &__image {
    margin-bottom: 20px;
    height: 95px;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    color: $black;
    margin-bottom: 20px;
    line-height: 186%;
  }

  &__desc {
    font-size: 16px;
    line-height: 139%;
  }

  &-more {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 1023px) {
    --columns: 2;
    margin-bottom: 100px;

    &__header {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    --columns: 1;

    &__image {
      height: auto;
    }
    &__list {
      margin-bottom: 40px;
    }

    &__item {
      padding: 40px 30px;
    }
  }
}
